*.log

# Airflow
*.cfg
airflow.cfg
airflow/config/airflow.cfg
airflow/logs/
airflow/plugins/

# dbt secrets
rbf/profiles.yml
.user.yml
**/.user.yml

# Virtual environment
*.env
/myenv

# Python
__pycache__/
*.py[cod]